.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

h1 {
  margin: 30px;
  font-size: 8rem;
}

p {
  font-size: 2rem;
}

img {
  width: 80%;
}

/* color palette */
.first-color { 
	background: #d3d6db;
}
	
.second-color { 
	color: #3a4750; 
  font-family: Lobster, normal;
}

.third-color { 
  font-family: 'Indie Flower', cursive;
  color: #224d7f;
}
