<%- include('partials/header', { title: 'Greeting' }) %>

<h2>Hello <%= name %>!</h2>
<p>You logged in using a <strong><%= method %></strong> request.</p>

<a href="/home">Go to Blog</a>

<%- include('partials/footer') %>
